<ion-header>
  <ion-toolbar>
    <ion-title>
      Meu primeiro APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
  <ion-card-header>
    <ion-card-title>
      Naruto
      <ion-card-subtitle>
        O naruto pode ser
        meio duro as vezes.
      </ion-card-subtitle>
    </ion-card-title>
  </ion-card-header>
  <ion-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet doloribus minima ex iste. Alias nihil commodi ipsa laudantium voluptatum consequuntur itaque eaque, impedit, corporis doloribus aspernatur dolorum et dignissimos? Eveniet?
  </ion-content>
</ion-card>

</ion-content>
